/* 1 Header */
/* 2 Main */
/* 3 Footer */
/* 4 RWD */
/* 5 Polices */

body {
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}

a {
    font-family: "Montserrat";
    text-decoration: none;
    color: white;
    padding-bottom: 5px;
}

a:hover {
    
    border-bottom: 0.0625rem solid white; /* 1px */
}

/* Header */
header {
    background-color: #1B2430;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.headmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Rendre le menu fixe */
    top: 0; /* Positionner en haut de la page */
    left: 0; /* Positionner à gauche */
    width: 100%; /* Prendre toute la largeur de la page */
    background-color: #1B2430; /* Couleur de fond pour le contraste */
    z-index: 1000; /* S'assurer qu'il est au-dessus des autres éléments */
    padding: 1rem; /* Ajouter un peu de padding pour l'esthétique */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Ajouter une ombre pour un effet de profondeur */

}
.burger-menu {
    display: none; 
    cursor: pointer;
}

.burger-menu div {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

.logonav {
    height: 55px; 
    width: 50px;
    margin-left: 22rem;
}

.menu ul {
    margin: auto;
    display: flex;
    justify-content: end;
    margin-right: 22rem;
}

.menu ul li {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 0rem 2rem ; /* 32px */
}

.banner {
    height: 25rem; /* 400px */
    width: 100%;
}

/* Main */
.main {
    padding-top: 60px;
}
.section {
    margin: auto;
    max-width: 1219px;
    margin-bottom: 13.125rem; /* 210px */
    padding: 10px;
}
.planet {
    display: flex;
    align-items: center;
    max-width: 1201px;
    margin-bottom: 3.875rem; /* 62px */
}

.planet .imgplanet {
    height: 18.75rem; /* 300px */
    width: 18.75rem; /* 300px */
    transition: 0.5s;
}
.planet .imgplanet:hover {
    transform: scale(1.1);
    }

.planetinfo {
    text-align: justify;
    font-size: 1.25rem; /* 20px */
}

.planetinfo h2 {
    font-size: 2.25rem; /* 36px */
    margin-bottom: 0.125rem; /* 2px */
    letter-spacing: 0.1875rem; /* 3px */
}

.typep {
    display: flex;
}

.Tellurique, .gazeuse, .discovery {
    width: fit-content;
    padding: 0.625rem; /* 10px */
    margin-right: 1.625rem; /* 26px */
    font-weight: bold;
    box-shadow: 0.0625rem 0.3125rem 0.375rem rgba(122, 121, 121, 0.835); /* 1px 5px 6px */
    border-radius: 0.625rem; /* 10px */
    letter-spacing: 0.1875rem; /* 3px */
    transition: 0.5s;
}
.Tellurique:hover, .gazeuse:hover, .discovery:hover {
    transform: scale(1.1);
}

.Tellurique {
    background-color: #D6D5A8;
    color: rgb(53, 53, 53);
}

.gazeuse {
    background: linear-gradient(#816797, #51557E);
    color: white;
}

.discovery {
    background-color: #1B2430;
    color: white;
}

.section .planet:nth-of-type(even) {
    flex-direction: row-reverse;
}

.section .planet:nth-of-type(odd) .imgplanet {
    margin: 3.125rem 5.9375rem 0 0.625rem; /* 50px 95px 0 10px */
}

.section .planet:nth-of-type(even) .imgplanet {
    margin: 3.125rem 0.625rem 0 5.9375rem; /* 50px 10px 0 95px */
}

.belt {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin: 1.25rem; /* 20px */
    text-transform: uppercase;
    font-size: 1.875rem; /* 30px */
    font-family: "roboto-medium", sans-serif;
}

.belt::before, .belt::after {
    content: "";
    height: 0.125rem; /* 2px */
    background-color: black;
    position: absolute;
    top: 50%;
    z-index: -1;
}

.belt::before {
    left: 0 ;
    width: 30%;
}

.belt::after {
    right: 0;
    width: 30%;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    background-color: #1B2430;
    color: white;
    width: 100%;
}
footer a{
    color: #9F9F9F;
}

.Footlinks {
    display: flex;
    flex-direction: row;
    width: 1219px;
    justify-content: space-evenly;
    margin: auto;
}

.FootTellurique, .FootGazeuse, .FootPartner {
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 1.25rem; /* 20px */
}

.FootTellurique li, .FootGazeuse li, .FootPartner li {
    list-style-type: none;
    color: white;
    font-weight: bold;
    margin: auto;
    margin-bottom: 0.9375rem; /* 15px */
}
Footer ul{
    padding: 0;
}
.Footp{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 1.25rem;
    width: 38.8125rem;
}


.FootGazeuse {
    position: relative; 
}

.FootGazeuse::before, .FootGazeuse::after {
    content: "";
    width: 1px; 
    background-color: white;
    position: absolute;
    top: 1.25rem; 
    bottom: 1.25rem; 
    z-index: 0;
}

.FootGazeuse::before {
    left: -7.5rem; 
}

.FootGazeuse::after {
    right: -7.5rem; 
}

hr {
    width: 60%;
}


/* RWD Téléphone */
@media screen and (max-width: 768px) {
    header {
        max-width: 100%;
    }
    
    main {
        margin: auto;
    }
    .menu ul {
        display: none; /* Masquer les liens de navigation */
    }

    .burger-menu {
        display: flex; /* Afficher le menu burger */
        flex-direction: column; /* Alignement vertical */
        margin: 1rem; 
    }
    .logonav {
        margin-left: 10rem;
    }
    
    .menu ul {
        margin-right: 10rem;
    }

    .section {
        display: flex;
        flex-direction: column;
        max-width: 700px; 
        margin: auto;
    }

    .section .planet {
        flex-direction: column;
    }
    
    .section .planet:nth-of-type(even) {
        flex-direction: column;
    }

    .planet .planetinfo {
        margin-left: 1.25rem; /* 20px */
        margin-right: 1.25rem; /* 20px */
    }

    .planet .imgplanet {
        height: 18.75rem; /* 300px */
        width: 18.75rem; /* 300px */
        margin: auto;
    }

    .belt::before {
        left: 0;
        max-width: 5%;
    }

    .belt::after {
        right: 0;
        max-width: 5%;
    }

    footer {
        display: flex;
        flex-direction: column; /* Afficher les éléments en colonne */
        align-items: center; /* Centrer les éléments */
        width: 100%;
    }

    .Footlinks {
        display: flex;
        flex-direction: column; /* Afficher les liens en colonne */
        width: 100%; /* S'assurer que cela prend toute la largeur */
        align-items: center; /* Centrer les éléments */
    }

    .FootTellurique, .FootGazeuse, .FootPartner {
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 0.625rem 0; /* Ajustement des marges */
    }

    /* Barres horizontales */
    .FootGazeuse::before, .FootGazeuse::after {
        content: "";
        width: 100%; /* Changer la largeur pour qu'elle soit horizontale */
        height: 0.0625rem; /* 1px */
        background-color: white;
        position: relative; /* Changer la position pour qu'elle soit relative */
        margin: 0.625rem 0; /* Ajouter un peu d'espace autour */
    }

    .FootGazeuse::before {
        margin-bottom: 0.625rem; /* Espace entre la barre et le contenu */
    }

    .FootGazeuse::after {
        margin-top: 0.625rem; /* Espace entre la barre et le contenu */
    }

    .Footp {
        max-width: 100%;
        text-align: center; /* Centrer le texte */
        padding: 1rem; /* Ajouter un peu de padding */
    }
}

/* RWD Tablette */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    header {
        max-width: 100%;
    }
    .menu ul {
        display: none; /* Masquer les liens de navigation */
    }

    .burger-menu {
        display: flex; /* Afficher le menu burger */
        flex-direction: column; /* Alignement vertical */
        margin: 1rem; 
    }
    .logonav {
        margin-left: 15rem;
    }
    
    .menu ul {
        margin-right: 15rem;
    }

    .section {
        max-width: 80%; /* Réduction de la largeur maximale pour les tablettes */
        margin: auto;
    }

    .planet {
        flex-direction: column; /* Retour à la direction de ligne pour les tablettes */
    }

    .section .planet:nth-of-type(even) {
        flex-direction: column;
    }

    .planet .imgplanet {
        height: 20rem; /* Ajustement de la taille de l'image pour les tablettes */
        width: 20rem; /* Ajustement de la taille de l'image pour les tablettes */
    }

    .planetinfo {
        font-size: 1.125rem; /* Ajustement de la taille de la police pour les tablettes */
    }

    .planetinfo h2 {
        font-size: 2rem; /* Ajustement de la taille de la police pour les titres */
    }

    .belt {
        font-size: 1.5rem; /* Ajustement de la taille de la police pour la ceinture */
    }

    .belt::before {
        left: 0;
        max-width: 25%;
    }

    .belt::after {
        right: 0;
        max-width: 25%;
    }
    
    footer {
        display: flex;
        flex-direction: column; /* Afficher les éléments en colonne */
        align-items: center; /* Centrer les éléments */
        width: 100%;
    }

    .Footlinks {
        display: flex;
        flex-direction: column; /* Afficher les liens en colonne */
        width: 100%; /* S'assurer que cela prend toute la largeur */
        align-items: center; /* Centrer les éléments */
    }

    .FootTellurique, .FootGazeuse, .FootPartner {
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 0.625rem 0; /* Ajustement des marges */
    }

    /* Barres horizontales */
    .FootGazeuse::before, .FootGazeuse::after {
        content: "";
        width: 100%; /* Changer la largeur pour qu'elle soit horizontale */
        height: 0.0625rem; /* 1px */
        background-color: white;
        position: relative; /* Changer la position pour qu'elle soit relative */
        margin: 0.625rem 0; /* Ajouter un peu d'espace autour */
    }

    .FootGazeuse::before {
        margin-bottom: 0.625rem; /* Espace entre la barre et le contenu */
    }

    .FootGazeuse::after {
        margin-top: 0.625rem; /* Espace entre la barre et le contenu */
    }

    .Footp {
        max-width: 100%;
        text-align: center; /* Centrer le texte */
        padding: 1rem; /* Ajouter un peu de padding */
    }
}

/* Polices */
.montserrat {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-thin {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", serif;
    font-weight:  100;
    font-style: italic;
    }